<a href="https://colab.research.google.com/github/Navjotkhatri/OIBSIP/blob/main/Unemployment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task-2**
## **Project Name-Unemployment Analysis**
**Contributor-Navjot Khatri**

Unemployment is measured by the unemployment rate which is the number of people
who are unemployed as a percentage of the total labour force. We have seen a sharp increase in the unemployment rate during Covid-19

**Context**

The story behind this datasets is how lock-down affects employment opportunities and how the unemployment rate increases during the Covid-19.

**Content**

This dataset contains the unemployment rate of all the states in India

Region = states in India

Date = date which the unemployment rate observed

Frequency = measuring frequency (Monthly)

Estimated Unemployment Rate (%) = percentage of people unemployed in each States of India

Estimated Employed = percentage of people employed

Estimated Labour Participation Rate (%) = labour force participation rate by dividing the number of people actively participating in the labour force by the
total number of people eligible to participate in the labor force
force

**questions?**

* How Covid-19 affects the employment

* how far the unemployment rate will go

In [643]:
#import library
from ast import increment_lineno
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [644]:
import calendar
import datetime as dt

In [645]:
#mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**We Have Two Data sets 2019 and 2020. So we Analyze both Dataset And compare the Unemployment rate during these two years.**

In [646]:
#reading csv file-1
working_dir_path1="/content/drive/MyDrive/Colab Notebooks/Oasis Intern projects/Unemployment Analysis With Python/Unemployment in India.csv"
un_df1=pd.read_csv(working_dir_path1)

In [647]:
un_df1.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [648]:
#reading csv file-2
working_dir_path2="/content/drive/MyDrive/Colab Notebooks/Oasis Intern projects/Unemployment Analysis With Python/Unemployment_Rate_upto_11_2020.csv"
un_df2=pd.read_csv(working_dir_path2)

In [649]:
un_df2.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
0,Andhra Pradesh,31-01-2020,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,29-02-2020,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,31-03-2020,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,30-04-2020,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,31-05-2020,M,17.43,12988845,36.46,South,15.9129,79.74

In [650]:
un_df1.tail()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [651]:
un_df2.tail()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Region.1,longitude,latitude
262,West Bengal,30-06-2020,M,7.29,30726310,40.39,East,22.9868,87.855
263,West Bengal,31-07-2020,M,6.83,35372506,46.17,East,22.9868,87.855
264,West Bengal,31-08-2020,M,14.87,33298644,47.48,East,22.9868,87.855
265,West Bengal,30-09-2020,M,9.35,35707239,47.73,East,22.9868,87.855
266,West Bengal,31-10-2020,M,9.98,33962549,45.63,East,22.9868,87.855

In [652]:
un_df1.shape

(768, 7)

In [653]:
un_df2.shape

(267, 9)

In [654]:
un_df1.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,740.000000,7.400000e+02,740.000000
mean,11.787946,7.204460e+06,42.630122
std,10.721298,8.087988e+06,8.111094
min,0.000000,4.942000e+04,13.330000
25%,4.657500,1.190404e+06,38.062500
50%,8.350000,4.744178e+06,41.160000
75%,15.887500,1.127549e+07,45.505000
max,76.740000,4.577751e+07,72.570000

In [655]:
un_df2.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),longitude,latitude
count,267.000000,2.670000e+02,267.000000,267.000000,267.000000
mean,12.236929,1.396211e+07,41.681573,22.826048,80.532425
std,10.803283,1.336632e+07,7.845419,6.270731,5.831738
min,0.500000,1.175420e+05,16.770000,10.850500,71.192400
25%,4.845000,2.838930e+06,37.265000,18.112400,76.085600
50%,9.650000,9.732417e+06,40.390000,23.610200,79.019300
75%,16.755000,2.187869e+07,44.055000,27.278400,85.279900
max,75.850000,5.943376e+07,69.690000,33.778200,92.937600

In [656]:
un_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    740 non-null    object
 1    Date                                     740 non-null    object
 2    Frequency                                740 non-null    object
 3    Estimated Unemployment Rate (%)          740 non-null    float64
 4    Estimated Employed                       740 non-null    float64
 5    Estimated Labour Participation Rate (%)  740 non-null    float64
 6   Area                                      740 non-null    object
dtypes: float64(3), object(4)
memory usage: 42.1+ KB

In [657]:
un_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    267 non-null    object
 1    Date                                     267 non-null    object
 2    Frequency                                267 non-null    object
 3    Estimated Unemployment Rate (%)          267 non-null    float64
 4    Estimated Employed                       267 non-null    int64
 5    Estimated Labour Participation Rate (%)  267 non-null    float64
 6   Region.1                                  267 non-null    object
 7   longitude                                 267 non-null    float64
 8   latitude                                  267 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 18.9+ KB

In [658]:
un_df1.isnull().sum()

Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

In [659]:
un_df2.isnull().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Region.1                                    0
longitude                                   0
latitude                                    0
dtype: int64

**Data Cleaning**

In [660]:
un_df1=un_df1.dropna()

In [661]:
un_df1.isnull().sum()

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Area                                        0
dtype: int64

In [662]:
un_df1.columns =['States','Date','Frequency','Estimated Unemployment Rate','Estimated Employed','Estimated Labour Participation Rate','Region']

In [663]:
un_df2.columns =['States','Date','Frequency','Estimated Unemployment Rate','Estimated Employed','Estimated Labour Participation Rate','Region','longitude','latitude']

In [664]:
un_df1['Frequency']= un_df1['Frequency'].astype('category')

In [665]:
un_df2['Frequency']= un_df2['Frequency'].astype('category')

In [666]:
un_df1['Date'] = pd.to_datetime(un_df1['Date'],dayfirst=True)

In [667]:
un_df2['Date'] = pd.to_datetime(un_df2['Date'],dayfirst=True)

In [668]:
un_df1.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural

In [669]:
un_df2.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South,15.9129,79.74
1,Andhra Pradesh,2020-02-29,M,5.83,16545652,40.90,South,15.9129,79.74
2,Andhra Pradesh,2020-03-31,M,5.79,15881197,39.18,South,15.9129,79.74
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South,15.9129,79.74
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South,15.9129,79.74

In [670]:
un_df1['Month'] = un_df1['Date'].dt.month

In [671]:
un_df2['Month'] = un_df2['Date'].dt.month

In [672]:
un_df2.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude,Month
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South,15.9129,79.74,1
1,Andhra Pradesh,2020-02-29,M,5.83,16545652,40.90,South,15.9129,79.74,2
2,Andhra Pradesh,2020-03-31,M,5.79,15881197,39.18,South,15.9129,79.74,3
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South,15.9129,79.74,4
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South,15.9129,79.74,5

In [673]:
un_df1['Month_int'] =un_df1['Month'].apply(lambda x : int(x))
un_df2['Month_int'] =un_df2['Month'].apply(lambda x : int(x))

In [674]:
un_df1['Month_name'] =un_df1['Month_int'].apply(lambda x: calendar.month_abbr[x])
un_df2['Month_name'] =un_df2['Month_int'].apply(lambda x: calendar.month_abbr[x])

In [675]:
un_df2.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude,Month,Month_int,Month_name
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South,15.9129,79.74,1,1,Jan
1,Andhra Pradesh,2020-02-29,M,5.83,16545652,40.90,South,15.9129,79.74,2,2,Feb
2,Andhra Pradesh,2020-03-31,M,5.79,15881197,39.18,South,15.9129,79.74,3,3,Mar
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South,15.9129,79.74,4,4,Apr
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South,15.9129,79.74,5,5,May

In [676]:
un_df1['Region'] = un_df1['Region'].astype('category')
un_df2['Region'] = un_df2['Region'].astype('category')

In [677]:
un_df1.drop(columns='Month',inplace=True)
un_df2.drop(columns='Month',inplace=True)

In [678]:
un_df1.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,Month_int,Month_name
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural,5,May
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural,6,Jun
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural,7,Jul
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural,8,Aug
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural,9,Sep

In [679]:
un_df1.tail()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,Month_int,Month_name
749,West Bengal,2020-02-29,Monthly,7.55,10871168.0,44.09,Urban,2,Feb
750,West Bengal,2020-03-31,Monthly,6.67,10806105.0,43.34,Urban,3,Mar
751,West Bengal,2020-04-30,Monthly,15.63,9299466.0,41.20,Urban,4,Apr
752,West Bengal,2020-05-31,Monthly,15.22,9240903.0,40.67,Urban,5,May
753,West Bengal,2020-06-30,Monthly,9.86,9088931.0,37.57,Urban,6,Jun

In [680]:
un_df2.head()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude,Month_int,Month_name
0,Andhra Pradesh,2020-01-31,M,5.48,16635535,41.02,South,15.9129,79.74,1,Jan
1,Andhra Pradesh,2020-02-29,M,5.83,16545652,40.90,South,15.9129,79.74,2,Feb
2,Andhra Pradesh,2020-03-31,M,5.79,15881197,39.18,South,15.9129,79.74,3,Mar
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South,15.9129,79.74,4,Apr
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South,15.9129,79.74,5,May

In [681]:
un_df2.tail()

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude,Month_int,Month_name
262,West Bengal,2020-06-30,M,7.29,30726310,40.39,East,22.9868,87.855,6,Jun
263,West Bengal,2020-07-31,M,6.83,35372506,46.17,East,22.9868,87.855,7,Jul
264,West Bengal,2020-08-31,M,14.87,33298644,47.48,East,22.9868,87.855,8,Aug
265,West Bengal,2020-09-30,M,9.35,35707239,47.73,East,22.9868,87.855,9,Sep
266,West Bengal,2020-10-31,M,9.98,33962549,45.63,East,22.9868,87.855,10,Oct

In [683]:
mask = (un_df1['Date'] >= '2019-05-31') & (un_df1['Date'] <= '2020-03-31')
df1 = un_df1.loc[mask]

In [684]:
df1

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,Month_int,Month_name
0,Andhra Pradesh,2019-05-31,Monthly,3.65,11999139.0,43.24,Rural,5,May
1,Andhra Pradesh,2019-06-30,Monthly,3.05,11755881.0,42.05,Rural,6,Jun
2,Andhra Pradesh,2019-07-31,Monthly,3.75,12086707.0,43.50,Rural,7,Jul
3,Andhra Pradesh,2019-08-31,Monthly,3.32,12285693.0,43.97,Rural,8,Aug
4,Andhra Pradesh,2019-09-30,Monthly,5.17,12256762.0,44.68,Rural,9,Sep
...,...,...,...,...,...,...,...,...,...
746,West Bengal,2019-11-30,Monthly,6.61,10768462.0,43.44,Urban,11,Nov
747,West Bengal,2019-12-31,Monthly,7.24,11335696.0,45.97,Urban,12,Dec
748,West Bengal,2020-01-31,Monthly,7.27,11208617.0,45.39,Urban,1,Jan
749,West Bengal,2020-02-29,Monthly,7.55,10871168.0,44.09,Urban,2,Feb
750,West Bengal,2020-03-31,Monthly,6.67,10806105.0,43.34,Urban,3,Mar

In [689]:
mask = (un_df2['Date'] >= '2020-04-30')
df2 = un_df2.loc[mask]

In [690]:
df2

,States,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate,Region,longitude,latitude,Month_int,Month_name
3,Andhra Pradesh,2020-04-30,M,20.51,11336911,33.10,South,15.9129,79.740,4,Apr
4,Andhra Pradesh,2020-05-31,M,17.43,12988845,36.46,South,15.9129,79.740,5,May
5,Andhra Pradesh,2020-06-30,M,3.31,19805400,47.41,South,15.9129,79.740,6,Jun
6,Andhra Pradesh,2020-07-31,M,8.34,15431615,38.91,South,15.9129,79.740,7,Jul
7,Andhra Pradesh,2020-08-31,M,6.96,15251776,37.83,South,15.9129,79.740,8,Aug
...,...,...,...,...,...,...,...,...,...,...,...
262,West Bengal,2020-06-30,M,7.29,30726310,40.39,East,22.9868,87.855,6,Jun
263,West Bengal,2020-07-31,M,6.83,35372506,46.17,East,22.9868,87.855,7,Jul
264,West Bengal,2020-08-31,M,14.87,33298644,47.48,East,22.9868,87.855,8,Aug
265,West Bengal,2020-09-30,M,9.35,35707239,47.73,East,22.9868,87.855,9,Sep
266,West Bengal,2020-10-31,M,9.98,33962549,45.63,East,22.9868,87.855,10,Oct

In [692]:
df1["States"].unique()

array(['Andhra Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Meghalaya', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Chandigarh'],
      dtype=object)

In [693]:
df2["States"].unique()

array(['Andhra Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Meghalaya', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [ ]:
undf_stats = un_df2[['Estimated Unemployment Rate','Estimated Employed', 'Estimated Labour Participation Rate']]

In [ ]:
undf_stats.head()

In [ ]:
undf_stats.describe()

In [ ]:
round(undf_stats.describe().T,2)

In [ ]:
region_stats = un_df2.groupby(['Region'])[['Estimated Unemployment Rate','Estimated Employed','Estimated Labour Participation Rate']].mean().reset_index()

In [ ]:
region_stats

In [ ]:
region_stats = round(region_stats,2)

In [ ]:
region_stats

In [ ]:
un_df2_2=un_df2[['Estimated Unemployment Rate','Estimated Employed', 'Estimated Labour Participation Rate']]

In [ ]:
un_df2_2.head()

In [ ]:
fig, axes = plt.subplots(figsize=(8, 8))
plt.title("co-relations of variables using a heatmap", fontsize=16)
sns.heatmap(un_df2_2.corr(), ax=axes, annot=True, linewidths=0.1, fmt='.2f', square=True)
plt.show()

In [ ]:
plt.figure(figsize=(20,10))
plt.title("State Wise Estimated Unemployment Rate",fontsize=16)
sns.boxplot(y="States",x ='Estimated Unemployment Rate',data =un_df2)
plt.xlabel("Estimated Unemployment Rate",fontsize=16)
plt.ylabel("States",fontsize=16)
plt.show()

In [ ]:
g=sns.pairplot(un_df2_2,height=5)
g.fig.suptitle("Distribution and relation of data ", y=1.0,fontsize=16)
plt.show()

In [ ]:
un_df2_3=un_df2[["States","Estimated Unemployment Rate"]]

In [ ]:
un_df2_3.head()

In [ ]:
un_df2_3

In [ ]:
un_df2_4=un_df2_3.groupby("States").mean()

In [ ]:
un_df2_4

In [ ]:
plt.figure(figsize=(20, 6))
sns.barplot(x='States', y='Estimated Unemployment Rate', data=un_df2_3)
plt.xlabel("Category",fontsize=16)
plt.ylabel('Installs (e+10)',fontsize=16)
plt.title('Number of Installs For Each Category',fontsize=16)
plt.show()

In [ ]:
plt.figure(figsize=(10, 8))
plt.title("Unemployment Rate in The YEar 2020")
sns.histplot(x="Estimated Unemployment Rate", hue="Region", data=un_df2)
plt.show()

In [ ]:
region_df =un_df2.groupby(["Region"])[['Estimated Unemployment Rate', "Estimated Employed", "Estimated Labour Participation Rate"]].mean()
region_df = pd.DataFrame(region_df).reset_index()

In [ ]:
region_df

In [ ]:
plt.figure(figsize=(20, 6))
sns.barplot(x='Region', y='Estimated Unemployment Rate', data=region_df)
plt.xlabel("Category",fontsize=16)
plt.ylabel('Installs (e+10)',fontsize=16)
plt.title('Number of Installs For Each Category',fontsize=16)
plt.show()